.ContainerMC {
    position: relative;
    height: 100%; /* Adjust the height as needed */
    width: 100%; /* Adjust the width as needed */
  }
  
.ContainerMC img {
display: block;
max-height: 100%;
max-width: 100%;
object-fit: contain;
margin: 0 auto; 
scale: 1;
}

.prodName{
position: absolute;
top: 10%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
color: white;
font-size: 3.5em;
font-weight: bold;
}

/* .prodName .black{
position: absolute;
top: 10%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
color: black;
font-size: 3.5em;
font-weight: bold;
} */

.prodSub{
position: absolute;
top: 17%;
left: 50%;
transform: translateX(-50%);
text-align: center;
color: white;
font-size: 1.2em;
font-weight: 350;
}

.options {
margin-top: 15px;
}

.learnMore {
position: absolute;
top: 25%;
left: 50%;
transform: translateX(-80%);
text-align: center;
color: rgb(76,149,247);
font-size: 1.2em;
font-weight: 500;
cursor: pointer;
}

.buy {
position: absolute;
top: 25%;
left: 50%;
transform: translateX(100%);
text-align: center;
color: rgb(76,149,247);
font-size: 1.2em;
font-weight: 500; 
cursor: pointer;
}
